
<div>
    <h1>Avaliar Ponto Controle</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Aluno</th>
          <th scope="col">Professor Orientador</th>
          <th scope="col">Observações</th>
          <th scope="col">Nota</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Aluno 1</td>
          <td>Professor 1 </td>
          <td>Observações 1</td>
          <td><input type="text" class="form-control" style="width: 70px"  name="nota" /></td>
        </tr>
        
      </tbody>
    </table>
    <button class="btn btn-primary" style="margin-top: 2%">Cadastrar Notas</button>
  </div>