
<div>
  <h1>Gerenciar Usuários</h1>

  <h2>Alterar Senha</h2>
  <div>
    <input type="text" class="form-control" placeholder="Usuário"  name="nome" />
    <input type="text" class="form-control" placeholder="Nova Senha"  name="nome" />
    <button class="btn btn-primary" style="margin-top: 2%">Alterar Senha</button>
    
  </div>
  
  <h2>Bloquear/Desbloquear Usuário</h2>
  <div>
    <input type="text" class="form-control" placeholder="Usuário"  name="nome" />
    <input type="text" class="form-control" placeholder="Situação"  name="nome" />
    <button class="btn btn-primary" style="margin-top: 2%">Alterar</button>
    
  </div>
</div>