
<div>
    <h1>Turmas Abertas</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Turma</th>
          <th scope="col">Professor</th>
          <th scope="col">Cadastrar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Turma 1</td>
          <td>Professor 1 </td>
          <td><button class="btn btn-primary">Incluir</button></td>
        </tr>
        <tr>
          <td>Turma 2</td>
          <td>Professor 2</td>
          <td><button class="btn btn-primary">Incluir</button></td>
        </tr>
      </tbody>
    </table>
    
  </div>