
<div>
  <div>
    <h1>Nova Submissão</h1>
    <input type="text" class="form-control" placeholder="Selecione uma atividade"  name="nome" />
    <input type="text" class="form-control" placeholder="Selecione um documento"  name="nome" />
  </div>
    
  <div style="margin-top: 5%">
      <h1>Arquivos Submetidos</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data</th>
            <th scope="col">Nome Arquivo</th>
            <th scope="col">Detalhes</th>
            <th scope="col">Nota</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>29/05/2019</td>
            <td>arquivo-lps-final.pdf</td>
            <td>Enviado as 19:22.</td>
            <td>94.00</td>
          </tr>
          <tr>
            <td>03/06/2019</td>
            <td>arquivo-eng-final.pdf</td>
            <td>Enviado as 09:42.</td>
            <td>86.00</td>
          </tr>
        </tbody>
      </table>
  </div>
    
    
  </div>